@import "../../common/variables/variables.scss";

.blog-page {
  padding: 5rem 15%;

  @media (max-width: 1200px) {
    padding: 5rem 7%;
  }
  @media (max-width: 800px) {
    padding: 5rem 2rem;
  }

  .blog-page-img {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 4rem;

    img {
      max-width: 50rem;
      border-radius: 10px;
    }

    h2 {
      margin-top: 3rem;
      text-transform: capitalize;
    }
  }

  .blog-page-info {
    p {
      margin-bottom: 3rem;
      // letter-spacing: 2.5px;
      line-height: 3rem;

      span {
        color: blue;
        font-size: inherit;
        cursor: pointer;
      }

      strong {
        font-size: inherit;
        color: black;
      }
    }

    h3 {
      color: black;
      margin-bottom: 2rem;
    }

    ul {
      list-style-type: square;
      margin-left: 2rem;
      margin-bottom: 3rem;

      li {
        margin-bottom: 1rem;
        // letter-spacing: 2.5px;
        line-height: 3rem;
      }
    }
  }
}
