@import "../../common/variables/variables.scss";

.blogs {
  padding: 5rem 8%;
  //   background-color: #eee;

  @media (max-width: 1200px) {
    padding: 5rem 6%;
  }
  @media (max-width: 800px) {
    padding: 5rem 2rem;
  }

  .blog.heading {
    margin-bottom: 3rem;
    h2 {
      font-size: 4rem;
      color: $purple;
    }
  }

  .blog.content {
    grid-gap: 2rem;
    display: grid;
    gap: 4rem;
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));

    .blog {
      // background-color: #eee;
      box-shadow: 0px 0px 7px -2px;
      overflow: hidden;
      border-radius: 5px;

      .blog_img {
        overflow: hidden;
        img {
          cursor: pointer;
          width: 100%;
          transition: 0.5s linear;
          max-height: 40rem;

          &:hover {
            transform: scale(1.1);
          }
        }
      }

      .blog_info {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        margin: 2rem;
        min-height: 12rem;

        h4 {
          color: $main-l;
          font-size: 2.5rem;
          // cursor: pointer;
          min-height: 9rem;
        }

        .extras {
          display: flex;
          gap: 1rem;
          margin-bottom: 2rem;
          span {
            gap: 1rem;
            font-size: 1.8rem;
            display: flex;
            color: gray;
            align-items: center;
            svg {
              font-size: 2rem;
              color: $main-l;
            }
          }
        }

        .desc {
          min-height: 13rem;
          p {
            font-size: 2.3rem;
            line-height: 3.5rem;
          }
        }

        a {
          width: fit-content;
          .button {
            font-size: 2.5rem;
          }
        }
      }
    }
  }
}
