@import "../../common/variables/variables.scss";

.carpet_service {
  padding: 5rem 15%;

  @media (max-width: 1200px) {
    padding: 5rem 7%;
  }
  @media (max-width: 800px) {
    padding: 5rem 2rem;
  }
  .main_info {
    margin-bottom: 6rem;
    h2 {
      color: $orange;
      font-size: 4rem;
      margin-bottom: 1.5rem;
    }
    p {
      text-align: justify;
      text-justify: inter-word;
      margin-bottom: 1.8rem;
      // letter-spacing: 2px;
      margin-top: 1rem;
      line-height: 3rem;
    }
    h3 {
      margin-top: 4rem;
      color: $orange-l;
    }
    h4 {
      font-size: 3rem;
      color: black;
      margin-top: 1rem;
      font-weight: 400;
    }

    span {
      color: blue;
      font-size: 2rem;
      // letter-spacing: 2px;
      line-height: 3rem;
      cursor: pointer;
    }
  }

  .review_info {
    margin-bottom: 6rem;
    h2 {
      color: $orange;
      font-size: 4rem;
      margin-bottom: 1.5rem;
    }

    .review_videos {
      margin-top: 5rem;
      grid-gap: 2rem;
      display: grid;
      gap: 6rem;
      grid-template-columns: repeat(auto-fit, minmax(35rem, 1fr));

      iframe {
        width: 100%;
      }
    }
  }

  .cleaning_info {
    margin-bottom: 3rem;
    h2 {
      color: $orange;
      font-size: 3rem;
      margin-bottom: 1.5rem;
    }
    h3 {
      text-align: center;
      color: black;
      font-size: 4rem;
    }
    .imgs {
      margin-top: 3rem;
      margin-bottom: 3rem;
      grid-gap: 2rem;
      display: grid;
      gap: 2rem;
      grid-template-columns: repeat(auto-fit, minmax(35rem, 1fr));

      .img-content {
        img {
          width: 100%;
          padding: 2rem;
        }
      }
    }

    h4 {
      cursor: pointer;
      display: flex;
      align-items: center;
      justify-content: space-between;
      font-size: 3rem;
      color: #eee;
      padding: 2rem;
      background-color: rgba(0, 0, 0, 0.5);

      svg {
        font-size: 3.3rem;
      }
    }
  }
}

.solution {
  padding: 5rem 15%;

  @media (max-width: 1200px) {
    padding: 5rem 7%;
  }
  @media (max-width: 800px) {
    padding: 5rem 2rem;
  }
  background-color: #eee;
  margin-top: 2rem;
  margin-bottom: 4rem;
  .solution_heading {
    margin-bottom: 3rem;
    h2 {
      text-align: center;
      color: $orange;
      font-size: 3rem;
      margin-bottom: 1.5rem;
    }
    h3 {
      text-align: center;
      color: black;
      font-size: 4rem;
    }
  }

  .solution_content {
    grid-gap: 2rem;
    display: grid;
    gap: 2rem;
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));

    .solution_box {
      background-color: white;
      padding: 2rem;
      display: flex;
      flex-direction: column;
      text-align: center;
      align-items: center;
      // justify-content: center;

      h2 {
        font-size: 2.3rem;
        margin-bottom: 2rem;
        color: $orange;
      }

      h3 {
        font-size: 2rem;
        color: black;
        margin-bottom: 1rem;
      }

      p {
        // text-align: justify;
        // text-justify: inter-word;
        // letter-spacing: 1px;
        line-height: 3rem;

        span {
          color: blue;
          font-size: 2rem;
          // letter-spacing: 2px;
          line-height: 3rem;
          cursor: pointer;
        }
      }

      img {
        width: 20rem;
        border-radius: 50%;
        margin-bottom: 2rem;
      }
    }
  }
}
