h2 {
  font-size: 3rem;
}

h3 {
  font-size: 2.5rem;
  color: #ffcf60;
}

h1 {
  font-size: 4rem;
  color: #ffb400;
  font-family: "Montserrat";
}

p,
li {
  color: #686868;
  font-size: 2rem;
  font-family: "Montserrat";
}

.rug-service {
  padding: 5rem 15%;
  grid-gap: 2rem;
  display: -ms-grid;
  display: grid;
  gap: 2rem;
  -ms-grid-columns: (minmax(30rem, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 10rem;
}

@media (max-width: 1200px) {
  .rug-service {
    padding: 5rem 7%;
  }
}

@media (max-width: 800px) {
  .rug-service {
    padding: 5rem 2rem;
  }
}

.rug-service .rug-service-img img {
  width: 100%;
}

.rug-service .rug-service-content h2 {
  margin-bottom: 1rem;
  color: #217e37;
  font-size: 3.5rem;
}

.rug-service .rug-service-content h4 {
  color: black;
  margin-bottom: 1rem;
  font-size: 3.5rem;
}

.rug-service .rug-service-content p {
  margin-bottom: 3rem;
  line-height: 3rem;
}

.rug-service .rug-service-content h3 {
  color: #c2db5d;
  font-size: 3rem;
  font-weight: 500;
  margin-bottom: 4rem;
}

.rug-service .rug-service-content a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 1px solid #0189b1;
  border-radius: 4rem;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

.rug-service .rug-service-content a span {
  font-size: 2.2rem;
  margin-right: 2rem;
  margin-left: 1rem;
}

.rug-service .rug-service-content a img {
  width: 7rem;
  height: 5rem;
}

.rug-service.reverse {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.benefits {
  padding: 5rem 10%;
  width: 100%;
  background-image: url(../../../Assets/Images/Banner/benifits-of-cleaning.webp);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

@media (max-width: 1200px) {
  .benefits {
    padding: 5rem 7%;
  }
}

@media (max-width: 800px) {
  .benefits {
    padding: 5rem 2rem;
  }
}

.benefits .benefits-wrapper {
  padding-left: 40%;
}

@media (max-width: 1200px) {
  .benefits .benefits-wrapper {
    padding-left: 0;
  }
}

.benefits .benefits-wrapper .benefits-heading {
  margin-bottom: 4rem;
}

.benefits .benefits-wrapper .benefits-heading h2 {
  text-transform: uppercase;
  color: #217e37;
  font-size: 3rem;
  margin-bottom: 2rem;
}

.benefits .benefits-wrapper .benefits-heading h1 {
  text-transform: uppercase;
  color: black;
  font-size: 3rem;
}

.benefits .benefits-wrapper .benefits-content {
  grid-gap: 3rem;
  display: -ms-grid;
  display: grid;
  gap: 3rem;
  -ms-grid-columns: (minmax(25rem, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
}

@media (max-width: 1200px) {
  .benefits .benefits-wrapper .benefits-content {
    -ms-grid-columns: (minmax(35rem, 1fr))[auto-fit];
        grid-template-columns: repeat(auto-fit, minmax(35rem, 1fr));
  }
}

.benefits .benefits-wrapper .benefits-content .benefit-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  gap: 2rem;
}

.benefits .benefits-wrapper .benefits-content .benefit-box .benefit-img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: white;
  padding: 1.5rem;
  min-height: 8rem;
  min-width: 8rem;
  border-radius: 50%;
  -webkit-box-shadow: 0px 0px 8px 4px rgba(3, 3, 3, 0.2);
          box-shadow: 0px 0px 8px 4px rgba(3, 3, 3, 0.2);
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.benefits .benefits-wrapper .benefits-content .benefit-box .benefit-img:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

.benefits .benefits-wrapper .benefits-content .benefit-box .benefit-img img {
  width: 4rem;
}

.benefits .benefits-wrapper .benefits-content .benefit-box .benefit-info h4 {
  color: #008f34;
  font-size: 2rem;
  text-transform: uppercase;
  margin-bottom: 1rem;
}

.benefits .benefits-wrapper .benefits-content .benefit-box .benefit-info p {
  font-size: 2rem;
}

.helped {
  padding: 5rem 15%;
  background-color: #eee;
}

@media (max-width: 1200px) {
  .helped {
    padding: 5rem 7%;
  }
}

@media (max-width: 800px) {
  .helped {
    padding: 5rem 2rem;
  }
}

.helped .helped-heading {
  margin-bottom: 5rem;
}

.helped .helped-heading h3 {
  color: #ffb400;
  font-size: 3rem;
  text-align: center;
}

.helped .helped-container {
  grid-gap: 2rem;
  display: -ms-grid;
  display: grid;
  gap: 5rem;
  -ms-grid-columns: (minmax(20rem, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
}

.helped .helped-container .helped-box {
  padding: 2rem 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: white;
  -webkit-box-shadow: 1px 1px 20px -5px;
          box-shadow: 1px 1px 20px -5px;
  border-radius: 5px;
}

.helped .helped-container .helped-box .helped-img {
  width: 10rem;
}

.helped .helped-container .helped-box .helped-info {
  margin-top: 2rem;
}

.helped .helped-container .helped-box .helped-info h4 {
  text-align: center;
  color: black;
  text-transform: uppercase;
  font-size: 1.9rem;
}
/*# sourceMappingURL=RugService.css.map */