h2 {
  font-size: 3rem;
}

h3 {
  font-size: 2.5rem;
  color: #ffcf60;
}

h1 {
  font-size: 4rem;
  color: #ffb400;
  font-family: "Montserrat";
}

p,
li {
  color: #7a7a7a;
  font-size: 2rem;
  font-family: "Montserrat";
}

.rug-service {
  padding: 5rem 15%;
  grid-gap: 2rem;
  display: -ms-grid;
  display: grid;
  gap: 2rem;
  -ms-grid-columns: (minmax(30rem, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 1200px) {
  .rug-service {
    padding: 5rem 7%;
  }
}

@media (max-width: 800px) {
  .rug-service {
    padding: 5rem 2rem;
  }
}

.rug-service .rug-service-img img {
  width: 100%;
}

.rug-service .rug-service-content h2 {
  margin-bottom: 1rem;
}

.rug-service .rug-service-content h4 {
  color: #ffb400;
  margin-bottom: 1rem;
  font-size: 3rem;
}

.rug-service .rug-service-content p {
  margin-bottom: 1rem;
}

.benefits {
  padding: 5rem 15%;
  width: 100%;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.55)), to(rgba(0, 0, 0, 0.55))), url(../../../Assets/Images/Back/back2.jpg);
  background-image: linear-gradient(rgba(0, 0, 0, 0.55), rgba(0, 0, 0, 0.55)), url(../../../Assets/Images/Back/back2.jpg);
  background-size: cover;
  background-position: center;
}

@media (max-width: 1200px) {
  .benefits {
    padding: 5rem 7%;
  }
}

@media (max-width: 800px) {
  .benefits {
    padding: 5rem 2rem;
  }
}

.benefits .benefits-heading {
  margin-bottom: 4rem;
}

.benefits .benefits-heading h2 {
  text-transform: uppercase;
  color: #ffb400;
  font-size: 4rem;
}

.benefits .benefits-content .benefit-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 2rem;
  margin-bottom: 3rem;
}

.benefits .benefits-content .benefit-box .benefit-img {
  background-color: white;
  padding: 1.5rem;
  border-radius: 50%;
  -webkit-box-shadow: 1px 1px 20px -5px white;
          box-shadow: 1px 1px 20px -5px white;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.benefits .benefits-content .benefit-box .benefit-img:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

.benefits .benefits-content .benefit-box .benefit-img img {
  height: auto;
  width: 4rem;
}

.benefits .benefits-content .benefit-box .benefit-info h4 {
  color: #ffcf60;
  font-size: 2.5rem;
  text-transform: uppercase;
}

.benefits .benefits-content .benefit-box .benefit-info p {
  font-size: 2rem;
  color: white;
}

.benefits .benefits-content .benefit-box.r {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 2rem;
  margin-bottom: 3rem;
  -webkit-box-pack: right;
      -ms-flex-pack: right;
          justify-content: right;
}

.benefits .benefits-content .benefit-box.r .benefit-info {
  text-align: right;
}

.helped {
  padding: 5rem 15%;
  background-color: #eee;
}

@media (max-width: 1200px) {
  .helped {
    padding: 5rem 7%;
  }
}

@media (max-width: 800px) {
  .helped {
    padding: 5rem 2rem;
  }
}

.helped .helped-heading {
  margin-bottom: 5rem;
}

.helped .helped-heading h3 {
  color: #ffb400;
  font-size: 3rem;
  text-align: center;
}

.helped .helped-container {
  grid-gap: 2rem;
  display: -ms-grid;
  display: grid;
  gap: 5rem;
  -ms-grid-columns: (minmax(20rem, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
}

.helped .helped-container .helped-box {
  padding: 2rem 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: white;
  -webkit-box-shadow: 1px 1px 20px -5px;
          box-shadow: 1px 1px 20px -5px;
  border-radius: 5px;
}

.helped .helped-container .helped-box .helped-img {
  width: 10rem;
}

.helped .helped-container .helped-box .helped-info {
  margin-top: 2rem;
}

.helped .helped-container .helped-box .helped-info h4 {
  text-align: center;
  color: black;
  text-transform: uppercase;
  font-size: 1.9rem;
}
/*# sourceMappingURL=RugService.css.map */