h2 {
  font-size: 3rem;
}

h3 {
  font-size: 2.5rem;
  color: #ffcf60;
}

h1 {
  font-size: 4rem;
  color: #ffb400;
}

p,
li {
  color: #686868;
  font-size: 2rem;
  line-height: 3rem;
  text-align: justify;
  text-justify: inter-word;
}

@-webkit-keyframes btn1 {
  16.65% {
    -webkit-transform: translateX(8px);
            transform: translateX(8px);
  }
  33.3% {
    -webkit-transform: translateX(-6px);
            transform: translateX(-6px);
  }
  49.95% {
    -webkit-transform: translateX(4px);
            transform: translateX(4px);
  }
  66.6% {
    -webkit-transform: translateX(-2px);
            transform: translateX(-2px);
  }
  83.25% {
    -webkit-transform: translateX(1px);
            transform: translateX(1px);
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

@keyframes btn1 {
  16.65% {
    -webkit-transform: translateX(8px);
            transform: translateX(8px);
  }
  33.3% {
    -webkit-transform: translateX(-6px);
            transform: translateX(-6px);
  }
  49.95% {
    -webkit-transform: translateX(4px);
            transform: translateX(4px);
  }
  66.6% {
    -webkit-transform: translateX(-2px);
            transform: translateX(-2px);
  }
  83.25% {
    -webkit-transform: translateX(1px);
            transform: translateX(1px);
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

.contact.section .contact.content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  gap: 2rem;
}

@media (max-width: 750px) {
  .contact.section .contact.content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.contact.section .contact.content .contact.img {
  width: 50%;
}

.contact.section .contact.content .contact.img img {
  width: 100%;
}

@media (max-width: 750px) {
  .contact.section .contact.content .contact.img {
    display: none;
  }
}

.contact.section .contact.content .contact.info {
  width: 50%;
}

@media (max-width: 750px) {
  .contact.section .contact.content .contact.info {
    width: 100%;
  }
}

.contact.section .contact.content .contact.info h2 {
  color: #008f34;
  font-size: 3.5rem;
  margin-bottom: 1rem;
}

.contact.section .contact.content .contact.info h1 {
  color: black;
  font-size: 3.5rem;
  margin-bottom: 3rem;
}

.contact.section .contact.content .contact.info form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 2rem;
}

.contact.section .contact.content .contact.info form input {
  width: 100%;
  background-color: white;
  height: 2rem;
  padding: 2.5rem 0;
  font-size: 2rem;
  padding-left: 1rem;
  border: 1px solid #ccc;
  outline: none;
  border-radius: 5px;
}

.contact.section .contact.content .contact.info form textarea {
  padding: 1rem 0;
  background-color: white;
  height: 15rem;
  font-size: 2rem;
  padding-left: 1rem;
  border: 1px solid #ccc;
  outline: none;
  border-radius: 5px;
}

.contact.section .contact.content .contact.info form button {
  width: 18rem;
  background-color: transparent;
  padding: 0;
  padding-left: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border: 1px solid #0189b1;
  border-radius: 4rem;
  cursor: pointer;
}

.contact.section .contact.content .contact.info form button:hover {
  -webkit-animation-name: btn1;
          animation-name: btn1;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-timing-function: ease-in-out;
          animation-timing-function: ease-in-out;
  -webkit-animation-iteration-count: 1;
          animation-iteration-count: 1;
}

.contact.section .contact.content .contact.info form button span {
  font-size: 2.2rem;
  margin-right: 2rem;
  margin-left: 1rem;
}

.contact.section .contact.content .contact.info form button img {
  width: 7rem;
  height: 5rem;
}

.contact.section .contact.content .contact.info form .name {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 2rem;
}

.contact.section .contact.content .contact.info form .name .block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.errorMessage {
  color: red;
}
/*# sourceMappingURL=ContactComponent.css.map */