@import "../../common/variables/variables.scss";

img {
  width: 100%;
}

.work .heading {
  text-align: center;
  font-size: 4rem;
  //   margin-top: 0.5rem;
  margin-bottom: 2rem;
  color: black;
}

.works {
  .works-content-wrapper {
    // display: flex;
    // align-items: center;
    // justify-content: center;
    .works-content {
      img {
        max-width: 100%;
        @media (max-width: 750px) {
          max-width: 40rem;
          max-height: 30rem;
        }
        // height: 100%;
      }

      grid-gap: 2rem;
      display: grid;
      gap: 2rem;
      grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
    }
  }

  .more-images {
    margin-top: 5rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #4a4a4c;
    border-bottom: 5px solid $main;
    h1 {
      font-size: 3rem;
      padding: 4rem 2rem;
      color: white;
    }

    img {
      margin-right: 5rem;
      width: 10rem;
      height: 7rem;
    }
  }
}
